@using ShopTechNoLoGy.Models
@{
   
    ViewBag.Title = "Thông Tin Sản Phẩm";
    sanPham i = ViewData["spcanxem"] as sanPham;
}
<style>
    .product-banner {
        width: 100%;
        height: 400px;
        background: url(../images/banner/banner2.jpg);
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        flex-wrap: wrap; /* Thêm thuộc tính này để hỗ trợ responsive */
    }
</style>
<link href="~/Content/style/styleproductdetail.css" rel="stylesheet" />
<!-- Product Details Section -->
<div class="product-details-container">
    <!-- Product Banner -->
    <div class="product-banner">
        <h1 class="product-title">@i.tenSP</h1>
        <!-- Related Info -->
        <div class="related-info">
            <h4>Thông tin liên quan</h4>
            <ul>
                <li><i class="fas fa-tag"></i><span>Tên sản phẩm: @i.tenSP</span></li>
                <li><i class="fas fa-industry"></i><span>Nhà sản xuất: @i.nhaSanXuat</span></li>
                <li><i class="fas fa-balance-scale"></i><span>Đơn vị tính: @i.dvt</span></li>
                <li><i class="fas fa-box-open"></i><span>Loại sản phẩm: @i.loaiHang</span></li>
            </ul>
        </div>
    </div>

    <!-- Product Info -->
    <div class="product-info">
        <!-- Product Image -->
        <div class="product-image ">
            <img src="@i.hinhDD" alt="@i.tenSP" style="height:400px;width:400px;">
        </div>

        <!-- Product Details -->
        <div class="product-details">
            <div class="product-price">Giá : @String.Format("{0:#,##0 VNĐ}", i.giaBan)</div>
            <div class="product-summary">@i.ndTomTat</div>
            <div class="product-content">
                @i.noiDung
            </div>

            @if (i.SoLuongTonKho <= 0)
            {
                <div class="out-of-stock">Hết hàng</div>
            }
            else
            {
                using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
                {
                    <input name="maSP" type="hidden" value="@i.maSP" />
                    <button class="add-to-cart-btn">Chọn mua</button>
                }
            }
        </div>
    </div>
</div>

<!-- Include Font Awesome for icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
