@model ShopTechNoLoGy.Models.KhuyenMai
@{
    ViewBag.Title = "Quản lý Khuyến mãi";
}

<h2>Quản lý Khuyến mãi</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin Khuyến mãi</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.maSP, "Sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("maSP", (IEnumerable<SelectListItem>)ViewBag.SanPhamList, "Chọn sản phẩm", new { @class = "form-control" })
                @Html.ValidationMessage("maSP", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.noiDung, "Nội dung khuyến mãi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.noiDung, new { @class = "form-control", rows = 4 })
                @Html.ValidationMessage("noiDung", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.giamGia, "Giảm giá (%)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.giamGia, new { @class = "form-control" })
                @Html.ValidationMessage("giamGia", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngayKetThuc, "Ngày kết thúc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ngayKetThuc, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessage("ngayKetThuc", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng khuyến mãi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
